a.normal {
  color: #A8A878;
}

a.fighting {
  color: #C03028;
}

a.flying {
  color: #A890F0;
}

a.poison {
  color: #A040A0;
}

a.ground {
  color: #E0C068;
}

a.rock {
  color: #B8A038;
}

a.bug {
  color: #A8B820;
}

a.ghost {
  color: #705898;
}

a.steel {
  color: #B8B8D0;
}

a.fire {
  color: #F08030;
}

a.water {
  color: #6890F0;
}

a.grass {
  color: #78C850;
}

a.electric {
  color: #F8D030;
}

a.psychic {
  color: #F85888;
}

a.ice {
  color: #98D8D8;
}

a.dragon {
  color: #7038F8;
}

a.dark {
  color: #705848;
}

a.fairy {
  color: #EE99AC;
}
